:root {
    font-size: 62.5%;
}
* {
    outline: dotted 1px red;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #232323;
    font-size: 1.5rem;
    overflow-x: hidden;
}
header {
    background-color: #333333;
    padding: 2rem;
    overflow: auto;
}
h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #FFF;
    float: left;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 6rem;
}
nav {
    float: right;
    margin-top: 0.5rem;
}
nav li {
    display: inline;
    margin: 0 1rem;
}
nav li a {
    color: #FFF;
    text-decoration: none;
}

#noticias-destacadas {
    /*width: calc(100vw * 3);*/
    overflow: auto;
    animation: 20s slider infinite;
}
figure {
    float: left;
    width: 100vw;
}
img {
    display: block;
    width: 100%;
}
figure figcaption {
    background-color: #232323;
}
figure h2 {
    color: #FFF;
    font-weight: bold;
    font-size: 4rem;
    padding: 2rem;
    line-height: 100%;
}

.noticia {
    /* utilidad de flexboth. ESENCIALES, dan utilidad*/
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* flex-start flex-end center space-between space-around space-evenly*/
    align-items: center;

    min-height: 15rem;

}

.noticias-img{
    width: 30%;
}

.noticias-txt{
    width: 65%;
}
.noticia-txt h3 {
	font-weight: 700;
	font-size: 28px;
}
.noticia-txt a {
	text-decoration: none;
	color: #000;
}
.noticia-txt p {
	font-size: 16px;
}
.noticia-txt h3,
.noticia-txt p {
	line-height: 1.5;
	margin-top: 10px;
	margin-bottom: 10px;
}

#tabla-posiciones td,
#tabla-posiciones th {
	padding: 12px;
}
#tabla-posiciones th {
	background-color: #FF0000;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 700;
}
#tabla-posiciones td {
	background-color: #D9D9D9;
	vertical-align: middle;
}
#tabla-posiciones tr {
	border-bottom: solid 1px #999999;
}
#tabla-posiciones tr:first-child,
#tabla-posiciones tr:last-child {
	border: none;
}
#tabla-posiciones table {
	width: 600px;
	margin: auto;
}
#tabla-posiciones td:nth-of-type(odd) {
	font-weight: 700;
	font-size: 24px;
	text-align: center;
}
#tabla-posiciones td:nth-of-type(even) span {
	font-weight: 700;
	color: #008899;
}
footer {
	background-color: #333333;
	color: #FFFFFF;
	text-align: center;
	padding: 15px;
	margin-top: 30px;
}

/*Animaciones CSS */
/*
@keyframes slider {
    0% { margin-left: 0 }
    20% { margin-left: 0 }

    40% { margin-left: -100vw }
    60% { margin-left: -100vw }

    80% { margin-left: -200vw }
    100% { margin-left: -200vw }
}
*/

@media screen and (max-width: 600px){
	/* Inicio @media-query */
	.noticia {
		flex-direction: column;
	}
	.noticia-img, .noticia-txt {
		width: 100%;
	}
	nav {
		display: none;
		float: none;
		clear: left;
		padding-top: 1rem;
	}
	nav ul li {
		display: block;
		text-align: center;
		line-height: 1.5;
	}
	button {
		display: block;
		float: right;
		color: #FFF;
		font-size: 1.25rem;
		line-height: 1;
		background-color: transparent;
		border: none;
		padding: 0.25rem;
	}
	button:focus + nav {
		display: block;
	}
	/* Fin de @media-query */
}


